$primary: #9356DC;
$primary2: #f5edff;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$dark-grey:	#A9A9A9;
$dark-shade-grey: #353535;
$grey: #7e7e7e;
$light-grey: #eaeaea; 
$very-light-grey: #fafafa;
$white-smoke: #f6f6f6;
$light-blue: #ADD8E6;
$dark-green: #3b8765;
$white: #fff;
$black: #000;