@keyframes  icon-spin {
    0% {
       transform: rotate(-360deg);
    }
    100% {
       transform: rotate(0);
    }
 }

 @keyframes menuItemAppear {
   from {
       transform: translateY(30px);
       opacity: 0;
   }
   to {
       transform: translateY(0);
       opacity: 1;
   }
}